    body {
        font: 24px Helvetica;
        background: #999999;
    }

    #main {
        min-height: 800px;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
    }


    .basicDocument {
	     min-width: 200px;
	     min-height: 200px;
       max-height: 350px;
       max-width: 300px;
       overflow: hidden;
       flex-basis: 250px;
       font-family: sans-serif;
     }
     .basicDocument.selectable:hover {
       border: 1px solid black;
     }
     
    .basicDocument.selected {
      border: 3px solid black;
    }
    .basicDocument h1 {
      font-size: 16px;
      margin: 4px;
      border-bottom: 2px solid black;
    }
    .basicDocument .postedBy {
      font-size: 11px;
    }
    .basicDocument .body {
      font-size: 13px;
     }
     
     
     /**
     
     Editor Forms
     
     */
     .fullMessage{
 	    background-color:#ddd;
 	    position: fixed;
 	    padding: 2em;
 	    left: 50%;
 	    top: 50%;
 	    width:80%;
 	    height:80%;
 	    transform: translate(-50%, -50%);
      }
      .basicDocumentEdit{
 	    background-color:#ddd;
 	    position: fixed;
 	    padding: 2em;
 	    left: 50%;
 	    top: 50%;
 	    width:80%;
 	    height:80%;
 	    transform: translate(-50%, -50%);
      }
     
     
     /*
     General section related to the 3 column layout and the top buttons
     
     */
     
     .login{
	    background-color:#ddd;
	    position: fixed;
	    padding: 2em;
	    left: 50%;
	    top: 50%;
	    width:80%;
	    height:80%;
	    transform: translate(-50%, -50%);
     }
 
     .tagText{
       width:250px;
     }
     .searchNavigation{
 	    width: 100%;
      }
      .previousNavigation{
        float: left;
      }
      .nextNavigation{
        float: right;
      }
     /* Too narrow to support three columns */
     @media all and (max-width: 640px) {
         #main, #page {
             flex-direction: column;
         }

         .article, .nav, .aside {
         /* Return them to document order */
             order: 0;
         }
  
         .nav, .aside, .header {
             min-height: 50px;
             max-height: 50px;
         }
     }
     
     
    .article {
        margin: 2px;
        padding: 3px;
        border: 1px solid;
	border-color: rgba(192, 217, 197, 0.25);
        border-radius: 5pt;
	background-color: #F7FBFA;
        flex: 6;
        order: 2;
    }
    

    

    .nav {
        margin: 2px;
        padding: 3px;
        border: 1px solid;
	border-color: rgba(187, 247, 200, 0.25);
        border-radius: 5pt;
	background-color: rgba(187, 247, 200, 0.25);
        flex: 1;
        order: 1;
    }
  
   .aside {
        margin: 2px;
        padding: 3px;
        border: 1px solid;
	border-color: rgba(184, 247, 198, 0.25);
        border-radius: 5pt;
	background-color: rgba(184, 247, 198, 0.25);
        flex: 1;
        order: 3;
    }
    .unseen {
	display: none;
    }
    
 
    .header {
        display: block;
        margin: 2px;
        padding: 3x;
        min-height: 35px;
        border: 1px solid;
        font-size: 15px;
        font-family: sans-serif;
	border-color: rgba(250, 189, 196, 0.25);
        border-radius: 6pt;
        background-color: #D4EDD6;
        display: flex;
        justify-content: space-between;
    }
    .mainFlex{
      display: flex;
      justify-content: flex-end;
    }
    .mainNavItems {

    }
    .personalNavItems {

    }
    .userInfo{
      display: inline-block;
      line-height: 30px;
    }
    .navItem {
    	flex: 1;
    	padding-left: 27px;
    	display: inline-block;
    	cursor: pointer;
      line-height: 30px;
      margin-right: 10px;
      margin-left: 5px;
      margin-top: 4px;
      margin-bottom: 5px;
      
     }
     .categorizeUsButton {
        background: url('/images/enso.png') no-repeat left center;    	
        background-size: 25px 25px;

     }

     .notificationsButton {
        background: url('/images/message.png') no-repeat left center;
        background-size: 25px 25px;
        
     }
     .postButton {
       background: url('/images/edit.png') no-repeat left center;
       background-size: 25px 25px;
       
     }

     .aboutButton {
       background: url('/images/about.png') no-repeat left center;
       background-size: 25px 25px;
       
     }

     .searchButton {
       background: url('/images/search.png') no-repeat left center;
       background-size: 25px 25px;
       
     }
     .tagButton {
       background: url('/images/tag.png') no-repeat left center;
       background-size: 25px 25px;
       
     }
     .tagButton.selected {
       border: 3px solid black;
     }
     .userGreeting{
       line-height: 30px;
       display: inline-block;
     }


    /*The fuck is this?*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*
Section related to the individual tabbed in comments section
*/
html {
	height: 101%;
}

.discussion {
	background: #e3e0ef;
	font-size: 62.5%;
	line-height: 1;
	font-family: Arial, sans-serif;
	padding-bottom: 65px;
}

::selection {
	background: #d7d0f3;
}

::-moz-selection {
	background: #d7d0f3;
}

::-webkit-selection {
	background: #d7d0f3;
}


/* page layout structure */
.discussion {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 35px;
}

.commentsContainer {
	display: block;
	width: 100%;
	background: #fff;
	padding: 14px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* comments area */
.comments {
	display: block;
}

.comment article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

.comment ol, ul {
	list-style: none;
}

.comment blockquote, q {
	quotes: none;
}

.comment blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

.comment strong {
	font-weight: bold;
}

.comment table {
	border-collapse: collapse;
	border-spacing: 0;
}

.comment img {
	border: 0;
	max-width: 100%;
}

.comment h1 {
	font-family: 'Wellfleet', 'Trebuchet MS', Tahoma, Arial, sans-serif;
	font-size: 2.85em;
	line-height: 1.6em;
	font-weight: normal;
	color: #756f8b;
	text-shadow: 0px 1px 1px #fff;
	margin-bottom: 21px;
}

.comment p {
	font-family: Arial, Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	line-height: 1.42em;
	margin-bottom: 12px;
	font-weight: normal;
	color: #656565;
}

.comment .title {
	font-family: Arial, Geneva, Verdana, sans-serif;
	font-size: 1.75em;
	line-height: 1.42em;
	margin-bottom: 12px;
	font-weight: normal;
	color: #656565;
}

.comment.primary p {
	font-family: Arial, Geneva, Verdana, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: 15px;
	font-weight: normal;
	color: #656565;
}

.comment a {
	color: #896dc6;
	text-decoration: none;
}

.comment a:hover {
	text-decoration: underline;
}

.comment, ul .comment, ul ul .comment {
	display: block;
	position: relative;
	padding-left: 65px;
	border-top: 1px solid #ddd;
}

.comment .avatar {
	position: absolute;
	top: 8px;
	left: 0;
}

.comment .avatar img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.comment .avatar a:hover img {
	opacity: 0.77;
}

.comment-content {
	padding: 0px 3px;
	padding-bottom: 12px;
	padding-top: 8px;
}

.comment-content header {
	font-size: 1.3em;
	display: block;
	margin-bottom: 8px;
}

.comment-content header .pubdate {
	color: #777;
}

.comment-content header .userlink {
	font-weight: bold;
}

.comment .replies {
	margin-bottom: 7px;
}

